Repository ayan4m1/nodevers: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint

.lintstagedrc:

{
  "*.ts": "eslint",
  "*.tsx": "eslint",
  "*.scss": "stylelint"
}

feat: implement basic auditing of packages for high-cost deps
  .gitignore
  package.json
  src/index.scss
  src/index.tsx
  src/pages/auditPackage.tsx
  src/utils/analyzer.mjs
  src/utils/index.ts
Due: eslint, stylelint

chore: upgrade deps
  package.json
  yarn.lock
Due: none

fix: get auditor working
  src/pages/auditPackage.tsx
  src/utils/analyzer.js
Due: eslint

fix: add shim for HTTP headers required for WebAssembly
  src/index.tsx
  src/pages/auditPackage.tsx
  src/utils/enable-threads.js
  webpack.config.ts
Due: eslint

fix: inline script for WebAssembly permissions
  src/index.html
  src/index.tsx
  src/utils/enable-threads.js
  webpack.config.ts
Due: eslint

fix: try coi-serviceworker 0.1.7
  src/index.html
Due: none

fix: include coi-serviceworker correctly
  package.json
  src/index.html
  yarn.lock
Due: none

feat: add virtualized rendering of list to main page, add sorting
  package.json
  src/components/SortIcon.tsx
  src/components/nodeVersions/FilterForm.tsx
  src/components/nodeVersions/ResultRow.tsx
  src/hooks/useNodeVersionData.ts
  src/pages/nodeVersions.tsx
  src/types/index.ts
  yarn.lock
Due: eslint

feat: add support matrix page
  package.json
  src/components/Layout.tsx
  src/index.scss
  src/index.tsx
  src/pages/supportMatrix.scss
  src/pages/supportMatrix.tsx
  src/types/index.ts
  yarn.lock
Due: eslint, stylelint

fix: correct non-lts support dates
  src/pages/supportMatrix.tsx
Due: eslint

feat: improve layout and functionality of support matrix page
  src/pages/supportMatrix.tsx
Due: eslint

chhore: upgrade dependencies
  eslint.config.mjs
  package.json
  yarn.lock
Due: none

chore: upgrade fontawesome lib
  package.json
  yarn.lock
Due: none

feat: remove deprecated prop in <FontAwesomeIcon />
  eslint.config.mjs
  src/components/Layout.tsx
  src/components/LinkButton.tsx
  src/components/SortIcon.tsx
  src/pages/supportMatrix.tsx
Due: eslint

fix: defineConfig usage
  eslint.config.mjs
Due: none

docs: clarify data is not sent
  src/pages/auditPackage.tsx
Due: eslint

chore: call reverse() inline
  src/pages/supportMatrix.tsx
Due: eslint

refactor: rewrite support matrix page to not use useEffect
  src/pages/supportMatrix.tsx
Due: eslint

chore: upgrade dependencies
  eslint.config.mjs
  package.json
  yarn.lock
Due: none

chore: upgrade action versions
  .github/workflows/deploy.yml
Due: none

chore: clean and align eslint config with others
  eslint.config.mjs
Due: none

chore: upgrade dependencies
  package.json
  yarn.lock
Due: none

feat: add eslint react import config
  eslint.config.mjs
Due: none

fix: tsconfig deprecations
  tsconfig.json
Due: none

fix: re-specify outDir in tsconfig
  tsconfig.json
Due: none

fix: various TypeScript issues
  src/components/LinkButton.tsx
  src/components/SortIcon.tsx
  src/hooks/useNodeVersionData.ts
  src/hooks/usePackageVersionData.ts
  src/pages/auditPackage.tsx
  src/pages/nodeVersions.tsx
  src/pages/packageVersions.tsx
  src/pages/supportMatrix.tsx
Due: eslint

chore: upgrade deps
  .yarnrc.yml
  package.json
  yarn.lock
Due: none

fix: typescript errors
  src/components/packageVersions/FilterForm.tsx
  src/hooks/useBundleData.ts
  src/hooks/useNodeVersionData.ts
  src/hooks/usePackageVersionData.ts
  src/types/index.ts
Due: eslint

fix: missing types for sass files
  index.d.ts
Due: eslint

fix: typescript errors and package data shape
  src/components/nodeVersions/ResultRow.tsx
  src/components/packageVersions/FilterForm.tsx
  src/hooks/useNodeVersionData.ts
  src/hooks/usePackageVersionData.ts
  src/index.tsx
  src/pages/nodeVersions.tsx
  src/types/index.ts
  src/utils/index.ts
  tsconfig.json
Due: eslint

fix: typescript error
  src/pages/auditPackage.tsx
Due: eslint
